<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
     <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
        <label for="">Full Name</label>
        <input type="text" name="name" id="" required>
        <label for="">Email</label>
        <input type="email" name="email" id="" required>
        <label for="">Password</label>
        <input type="password" name="password" id="" required>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>